body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

table {
    display: inline-block;
    text-align: center;
    border: 2px ridge black;
}

th, td {
    border-bottom: 2px ridge black;
}
